/* Common styles from the landing page */
body
{
    font-family: AGBookPro,Arial,sans-serif;
}
.alert {
    --bs-alert-bg: transprent;
    --bs-alert-padding-x: 0;
    --bs-alert-padding-y: 0rem;
    --bs-alert-margin-bottom: 0rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    --bs-alert-border-radius: var(--bs-border-radius);
    --bs-alert-link-color: inherit;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: #fff;
    background-color: #060215;
    border: var(--bs-alert-border);
    border-radius: 0;
    display: flex;
    justify-content: center;
} 
.deal
{
    font-weight: 700;
    margin-left: 4px;
    margin-right: 4px;

}
.btn-close {
    --bs-btn-close-color: #ffffff;
    --bs-btn-close-opacity: .85;
    --bs-btn-close-hover-opacity: 1;
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: var(--bs-btn-close-color);
    background: white var(--bs-btn-close-bg) center / 1em auto no-repeat;
    border: 0;
    border-radius: .575rem;
    opacity: var(--bs-btn-close-opacity);
    margin-left: 20px;
    transition: all 0.5s;
}
.bg-body-tertiary1{
    background: #ffffff !important;
    transition: all 0.5s;
}
.bg-body-tertiary
{
    background: #ababab !important;
    transition: all 0.5s;
}
.navbar
{
    position: sticky; 
    top: 0; 
    width: 100%; 
    z-index: 999;
    --bs-navbar-active-color:#ac2424;
}
.navbar-brand {
    font-weight: 700;
}
.nav-link {
    
    color: #6b2e2e;
    transition: color.15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
/* search btn */
.btn-outline-success {
    --bs-btn-color: #6b2e2e;
    --bs-btn-border-color: #6b2e2e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6b2e2e;
    --bs-btn-hover-border-color: #6b2e2e;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d82222;
    --bs-btn-active-border-color: #d82222;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
    transition: all 0.5s;
   border-radius:20px ;
}
/* Cart */
.btn-primary {
    --bs-btn-color: #000000;
    --bs-btn-bg: transprent;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #dadada;
    --bs-btn-hover-border-color: #dadada;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #929090;
    --bs-btn-active-border-color: #929090;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    border-radius:20px ;
}
#collapseExample .card
{
    color: #ffffff;
    background-color:#222222 ;
    position: absolute;
    border-radius:20px ;
}
#sign
{
margin-left:535px;
margin-right: 5px;
}
/* log In */
.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6b2e2e;
    --bs-btn-border-color: #6b2e2e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #046128;
    --bs-btn-active-border-color: #046128;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
    transition: all 0.5s;
    border-radius:20px ;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: auto; 
    margin-top: var(--bs-dropdown-spacer);
}
/* sign up bt */
.btn-outline-secondary {
    --bs-btn-color: #000000;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c757d;
    --bs-btn-hover-border-color: #6c757d;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #046128;
    --bs-btn-active-border-color: #046128;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
    transition: all 0.5s;
    border-radius:20px ;
} 
/* search box */
.form-control 
{
    border-radius:20px ;
}
/*footer-start*/
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #000000 !important;
    bottom: 0;
    width: 100%;
    padding:50px 0px ;
}
.containerf
{
    display: flex;
    padding:50px 0px ;
}
.bg-dark a
 {
    font-size: 30px;
 }
.bg-dark .rights{
    
    color: #434343;
    font-size: 15px;
    padding-top: 80px;
}
.logo
{
    width: 100px;
}
.connected
{
    position: absolute;
   right: 5px;
}
.connected a 
{
    margin-right: 10px;
    
}
.connected img
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.connected p 
{
    margin-top: 20px;
    width: 500px;
}
/*footer-end*/
/* about page start */
.img-container img
{
    width: 100%;
    height: 100vh;
    filter: brightness(75%);
}
#about-container {
    margin: 50px auto;
    text-align: center;
    width: 1000px;
}
#about-container h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 700;
    color: #6b2e2e;
}
#about-container p {
    font-size: 1.2em;
    line-height: 1.6;
}
#about-container .team {
    margin-top: 30px;
    text-align: center;
}
#about-container .team-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
#about-container .team-description {
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.6;
}
.carousel{
    width: inherit;
    height: auto;
}
.Quality
{
    margin-top: 50px;
    font-size: 50px !important;
    font-weight: 700;
    color: black;
    letter-spacing: -1.5px;
}
.manufacture
{
    margin: 80px 0px;
    padding:0px 80px ;
}
hr
{
    padding: 30px 0px;
}
.manufacture-about-div
{
    padding:50px 50px ;
    display: flex;
    justify-content: space-between;
}
.h1
{
    font-size: 50px !important;
    font-weight: 800;
}
.t1
{
    font-size: 18px;
    width: 600px;
}